:root {
    --clr-light: #eeeeee;
    --clr-orange: #ee8a1d;
    --clr-gray: #ededed;
    --clr-text-color-1: #373737;
    --clr-text-color-2: #505050;
    --clr-text-color-3: #ededed;
}


.padding-tb-50 {
    padding: 50px 0px;
}

.padding-tb-75 {
    padding: 75px 0px;
}

.padding-lf-8 {
    padding: 0 8%;
}

.orange-border-1 {
    background: #fff;
    border-radius: 16px;
    border: 2px solid var(--clr-orange);
}

.orange-border-2 {
    background: #fff;
    border-radius: 16px;
    border: 2px solid var(--clr-orange);
    padding: 40px;
}

.background-light {
    background: var(--clr-light);
}

.background-light {
    background: var(--clr-text-color-3);
}

.background-dark {
    background: var(--clr-text-color-1);
}

.heading-dark {
    color: #505050;
    font-size: 43px;
    font-weight: 700
}

.para-1 {
    font-size: 20px;
    color: var(--clr-text-color-2)
}

.btn-orange {
    background: var(--clr-orange);
    border-radius: 16px;
    border: 1px solid;
    padding: 12px 30px;
    color: white;
    font-size: 20px;
    transition-duration: 0.4s;
}

.btn-orange:hover {
    background: transparent;
    color: var(--clr-orange);
    border: 1px solid var(--clr-orange);
    
}

.btn-gray {
    background: #999;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    padding: 12px 30px;
    color: #fff;
    font-size: 20px;
    transition-duration: 0.4s;
}

.btn-gray:hover {
        background: transparent;
        color: #333;
        border: 1px solid #999;
    
    
    }


.btn-white {
    background: #fff;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    padding: 12px 30px;
    color: var(--clr-orange);
    font-size: 20px;
    transition-duration: 0.4s;
}

    .btn-white:hover {
        background: var(--clr-orange);
        color: #fff;
        border: 1px solid #999;
    }



.h3-orange {
    color: var(--clr-orange);
    font-size: 71px;
    font-weight: 700;
}

.clr-orange {
    color: var(--clr-orange);
}

.clr-text-color-1 {
    color: var(--clr-text-color-1);
}

.clr-text-color-2 {
    color: var(--clr-text-color-2);
}



#people-search-api-hero {
    background: url("/images/psabg.png") no-repeat bottom;
    background-size: cover
}

footer {
    
    background: #505050
}

nav {
    font-size: 20px;
    padding: 30px
}
#psa-nav-bar {
    gap: 54px;
    list-style: none;
    font-weight: 600;
    margin: 0 !important;
    padding: 0 !important;
}

#psa-carousel .psa-carousel-card {
    background: white;
    border-radius: 16px;
    margin: 5px 13px;
    padding: 16px 16px;
    height: 100%

}

#psa-carousel .owl-item.cloned, #psa-carousel .owl-item.active {
    height: 400px;
}

.psa-carousel-card img {
    width: 95px !important;
}

.psa-carousel-card a {
    margin-top: auto;
    font-weight: 700
}

.psa-carousel-card p {
    
}

.psa-carousel-card div {
    display: flex;
    align-items: center;
    gap: 12px
}

.psa-carousel-card div h2 {
    font-size: 21px;
    font-weight: 700;
    color: #505050
}

#psa-carousel .psa-carousel-card {
    display: flex;
    flex-direction: column;
}

#psa-carousel {
    background: #ededed;
}

#psa-property-records img,
#psa-find-email-address img,
#psa-find-name-address img,
#psa-find-phone-number img {
    top: 85%;
    width: 120px;
}

nav #searchbug-logo {
    width: 175px;
}

nav #user-icon {
    width: 30px;
    margin-right: 12px
}

.searchbug-balance {
    color: var(--clr-orange);
    font-weight: bold;
    margin-left: 12px
}

.balance-margin {
    margin: 0 12px;
    font-weight: bold
}

#people-search-api-hero h1, #advance-person-search h2, #batch-append-tools h2 {
    font-size: 46px;
    font-weight: 700
}

#people-search-api-hero h2, #advance-person-search h3, #batch-append-tools h3 {
    font-size: 71px;
    font-weight: 700
}

#psa-faq {
    background: #FFF9F6;
}

#psa-faq a {
    color: var(--clr-orange);
    text-decoration: none;
    font-weight: 600
    }

#psa-faq a:hover {
    text-decoration: underline;
}

#psa-faq h2 {
    font-size: 41px;
    font-weight: 700
}

#psa-faq > .container > div {
    border: 2px solid var(--clr-orange);
    padding: 50px 60px;
    border-radius: 12px;
}

#psa-faq li {
    font-size: 20px;
    color: var(--clr-text-color-2)
}

#psa-faq .hr-line{
    background: var(--clr-orange);
    height: 4px
}



#psa-faq ul li {
    list-style-image: url('/images/arrow-icon.png');
    margin: 12px 0
}


#batch-append-tools #bat-img {
    width: 444px
}


#psa-estimate-cost .psa-aeaa th {
    background: var(--clr-orange);
    color: #fff;
    border: 5px solid #fff;
    padding: 16px;
    font-size: 20px;
}

#psa-estimate-cost .psa-aeaa td {
    background: #FFF4E2 !important;
    color: #000;
    padding: 16px;
    border: 5px solid #fff;
    font-size: 20px;
}


#psa-estimate-cost {
    
    background: linear-gradient(180deg, rgba(132,132,132,1) 0%, rgba(157,153,153,1) 100%);
    color: #fff
}


#psa-estimate-cost h2 {
    font-size: 46px;    
}

#psa-estimate-cost table {
    margin: 0 auto;
    width: 100%;
    
}

#psa-estimate-cost label {
    font-size: 20px;
    font-weight: bold;
}

#psa-estimate-cost a {
    color: #fff;
    font-size: 20px;
    text-decoration: none
}

#psa-estimate-cost span {
        color: #fff;
        font-size: 20px;
        font-weight: bold
    }

.psa-estimate-btn {
    color: #fff;
    background: transparent;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 9px 21px;
}

    #psa-estimate-cost input[type="text"] {
        font-size: 20px;
        border: 2px solid #fff;
        padding: 9px 21px;
        
        margin: 0 30px;
    }

#psa-estimate-cost p {
    font-size: 20px;
}

#psa-estimate-cost > div > div
{
    margin: 0 16px;
}

#psa-card-carousel img {
    width: 90px;

}

#psa-card-carousel h2 {
    font-size: 16px;
}

#psa-card-carousel .card {
    border: none !important
}

#psa-card-carousel button {
    background: transparent;
    border: none;
    color: var(--clr-orange);
    font-weight: bold
}

#psa-card-carousel {
    background: #EDEDED
}

#psa-card-carousel .card {
    border-radius: 16px;
    
}

#psa-card-carousel p {
     line-height: 1.3;
}

#psa-card-carousel a {
        color: var(--clr-orange);
        font-size: 20px;
        font-weight: bold;
        transition: 0.3s
}

.arrow-icon {
    transition: all 0.3s linear;
}

#psa-card-carousel a:hover .arrow-icon {
    transform: translateX(10px)
}

#psa-card-carousel a > img {
        width: 16px
}

.psa-xml-json {
    margin: 0 30px;
       
}


#psa-aps-bat h2 {
    color: #505050;
    font-size: 26px;
    font-weight: 700
}


#psa-aps-bat h3 {
    color: var(--clr-orange);
    font-size: 40px;
    font-weight: 700
}

#ao-testimonials .ao-testimonials-col {
    transform: scale(0.9);
    gap: 12px
}


#ao-brand-customer-partners .brand-customers-partner-img {
    width: 200px;
    margin: 0 auto;
}

#ao-brand-customer-partners h2 {
    font-size: 42px;
    color: #373737;
    font-weight: 700;
}

#ao-brand-customer-partners span {
    font-size: 42px;
    color: var(--clr-orange);
    font-weight: 700
}


#psa-find-phone-number > .container > div,
#psa-find-name-address > .container > div,
#psa-find-email-address > .container > div,
#psa-property-records > .container > div{
    background: var(--clr-gray);
    border-radius: 16px
}


.container.psa-cta > div {
    background: #fff;
    border-radius: 16px;
    border: 2px solid var(--clr-orange);
    padding: 20px 10px;
    
}

.container.psa-cta h2 {
    color: var(--clr-orange);
    font-size: 26px !important;
    font-weight: 700
}

.container.psa-cta h3 {
    
    font-size: 34px !important;
    font-weight: 700
}


#psa-estimate-cost label {
    position: relative;
    padding: 12px;    
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 0.3s
}



#psa-estimate-cost input[type = "radio"]:checked + label {
    background: var(--clr-orange);
}


/* Maximalist API Overview Page */


#ao-features-benefits img {
    height: 160px;
}

#ao-features-benefits {
    color: #fff
}


#ao-features-benefits h2 {
    font-size: 42px;
    font-weight: 700
}


#ao-features-benefits h3 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 16px;
}

#ao-features-benefits span {
    color: var(--clr-orange)
}

#ao-use-batch-append-tool h2 {
    font-size: 42px;
    font-weight: 700;
    color: #505050
}

#ao-use-batch-append-tool h3 {
    font-size: 52px;
    font-weight: 700;
    color: var(--clr-orange)
}

#ao-card-carousel h5.card-title {
    color: #505050;
    font-size: 26px;
    font-weight: 700
}

#ao-card-carousel img.imgleft {
    position: absolute;
    left: -760px;
}

#ao-card-carousel img.imgright {
    position: absolute;
    right: -600px;
}

#ao-card-carousel .container {
    overflow: hidden;
    position: relative
}

#ao-card-carousel h2 {
    font-size: 16px;
}

#ao-card-carousel .card {
    border: none !important
}

#ao-card-carousel button {
    background: transparent;
    border: none;
    color: var(--clr-orange);
    font-weight: bold
}

#ao-card-carousel {
    background: #EDEDED
}

#ao-card-carousel .card {
        border-radius: 16px;
        transform: scale(0.9, 0.9);
    }

#ao-card-carousel p {
    line-height: 1.3;
}

#ao-card-carousel a {
    color: var(--clr-orange);
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s
}

#ao-card-carousel a:hover {
     color: #fff;
     background: #373737;        
}

    #ao-card-carousel a:hover .arrow-icon {
        transform: translateX(10px)
    }

#ao-card-carousel a > img {
    width: 16px
}

#ao-use-batch-append-tool img {
    width: 190px;
}

#ao-call-to-action h2 {
    font-size: 73px;
    font-weight: 700;
    color: var(--clr-orange);
}

#ao-call-to-action h3 {
    font-size: 26px;
    color: #373737
}

#ao-watch-videos .row.orange-border {
    border: 2px solid orange;
    border-radius: 30px;
}

#ao-watch-videos h2 {
    font-size: 42px;
    font-weight: 700;
    color: #505050
}

#ao-watch-videos #img-watch-videos {
    width: 450px;
    cursor: pointer
}

#ao-watch-videos span {
    color: var(--clr-orange);
}

#ao-watch-videos #ao-youtube-play-icon {
    width: 200px
}

#pv-card-carousel img {
    width: 90px;

}

#pv-card-carousel h2 {
    font-size: 42px;
    color: #505050;
    font-weight: 700
}

    #pv-card-carousel h2 span {
        color: var(--clr-orange);
        
    }

    #pv-card-carousel .card {
        border: none !important
    }

#pv-card-carousel button {
    background: transparent;
    border: none;
    color: var(--clr-orange);
    font-weight: bold
}

#pv-card-carousel {
    background: #EDEDED
}

#pv-card-carousel .card {
    border-radius: 16px;
    
}

#pv-card-carousel p {
     line-height: 1.3;
}

#pv-card-carousel a {
        color: var(--clr-orange);
        font-size: 20px;
        font-weight: bold;
        transition: 0.3s
}

.arrow-icon {
    transition: all 0.3s linear;
}

#pv-card-carousel a:hover .arrow-icon {
    transform: translateX(10px)
}

#pv-card-carousel a > img {
        width: 16px
}
#pv-pricing {
    background: var(--clr-orange);
}

    #pv-pricing .col-md div h3 {
        color: #505050;
        font-size: 44px;
        font-weight: 700
    }

    #pv-pricing .col-md div h4 {
        color: #505050;
        font-size: 25px;
        font-weight: 700
    }


    #pv-pricing .col-md div h3 span {
        font-size: 16px;
    }

    #pv-pricing .pv-pricing-description {
        background: #fff;
        border-radius: 30px;
        padding: 30px;
        position: relative;
    }

        #pv-pricing .pv-pricing-description p {
            color: #505050
        }

        #pv-pricing .container {
            position: relative;
        }

    #pv-pricing input[type="text"] {
        max-width: 650px !important;
        width: 600px;
        border-radius: 12px;
        border: none;
        padding: 12px 30px;
        margin: 0 16px;
        text-align: center;
    }

button.btn-most-recommended-dnone {
    visibility: hidden;
}

#pv-pricing .pv-phone-number-btn {
    padding: 12px 60px;
    margin: 0 6px;
}

        #pv-pricing input[type="text"]::placeholder {
            color: #aaa;
            text-align: center;
            font-size: 20px;
            font-weight: 500
        }

#pv-pricing img.thumb-up-icon {
    position: absolute;
    transform: translate(-100%, -100%) rotate(-10deg);
    top: 35%;
    left: 0
}

    #pv-pricing img.pv-pricing-check-icon {
        position: absolute;
        transform: translate(-100%, -100%) rotate(5deg) scale(0.8);
        z-index: 999;
        bottom: 18%;
        right: -333px;
    }

    #pv-pricing h2 {
        color: #fff;
        font-size: 42px;
        font-weight: 700
    }

    #pv-pricing p {
        color: #fff
    }

        #pv-pricing .col-md div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 30px 0;
            height: 700px;
        }

    #pv-pricing .btn-most-recommended {
        background: var(--clr-orange);
        border: none;
        color: #fff;
        padding: 6px;
        margin: 0 auto;
        width: 70%
    }

    #pv-get-information h2 {
        font-weight: 700;
        font-size: 42px;
        color: #505050;
    }

#pv-get-information h3 {    
    font-size: 26px;
    color: #505050;
}

#pv-get-information span{
    color: var(--clr-orange);
}


#pv-get-information {
    background: #ededed
}

#pv-get-information img {
    width: 260px
}

#pv-trusted-by-companies {
    font-weight: 700;
    font-size: 42px;
    color: #505050;
}

    #pv-trusted-by-companies h2 {
        font-size: 26px;
        font-weight: 700;
    }

#pv-phone-validator h2 {
    font-size: 73px;
    font-weight: 700;
    color: var(--clr-orange);
}

#pv-phone-validator h3 {
    font-size: 73px;
    color: #505050;
    font-weight: 700;
}
#pv-advanced-pricing-list li {
    list-style-image: url(/images/orange-check-icon.png);
    color: #fff
}

#pv-advanceddnc-pricing-list li, #pv-basic-pricing-list li, #pv-complete-pricing-list li {
    list-style-image: url(/images/green-check-icon.png);
    color: #fff
}

#pv-pricing {
    background: #373737;
}

#exampleModalCenter .modal-content {
    box-shadow: none !important;
}

#exampleModalCenter .modal-body {
    transform: scale(1.5);
}

#exampleModalCenter .modal-header {
    border-bottom: none !important
}


#ao-brand-customers .container {
    display: flex;
}

#ao-brand-customers-partners span.brand-customers-orange {
    font-size: 40px;
    color: var(--clr-orange);
    font-weight: 700;
}

#ao-brand-customers-partners h2 {
    font-size: 40px;
    color: #373737;
    font-weight: 700;
}

#ao-brand-customers-partners .ao-logo-carousel img {
    width: 140px;
    margin: 0 auto
}

#ao-brand-customers-partners .ao-logo-carousel .owl-dots {
    display: none;
}

#ao-sb-adi {
    position: relative;
    height: 100vh
}

#sb-adi-laptop, #sb-adi-heading, #sb-adi-wave3, #sb-adi-wave4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    #sb-adi-laptop img {
        left: 0;
        right: 0;
        margin: 0 auto;
    }


div#sb-adi-heading {
    z-index: 9;
}


div#sb-adi-wave3 {
    z-index: 8;
    top: 26%;
    right: 46%;
    opacity: 0.7;
}

div#sb-adi-laptop {
    z-index: 7;
}


#ao-list #list-item-1, #ao-list #list-item-2, #ao-list #list-item-3, #ao-list #list-item-4, #ao-list #list-item-5 {
    position: absolute;
}

#ao-list {
    z-index: 10
}

#ao-list-item-5 {
    
    font-size: 20px;
    color: #000;
    font-weight: 700;
    border: 3px solid #fff;
}

#apva-hero #apva-hero-magnifying-glass {
    transform: rotate(20deg) scaleX(-1)
}


#apva-hero #apva-hero-phone {
    margin-top: -100px;
}



#apva-hero h1 {
    font-size: 42px;
    font-weight: bold;
    color: var(--clr-orange);
}

#apva-hero h2 {
    font-size: 73px;
    font-weight: bold;
    color: #373737;
}

#apva-hero p {
    color: #505050
}

.container.apva-cta > div {
    background: #fff;
    border-radius: 16px;
    border: 2px solid var(--clr-orange);
    padding: 20px 60px;
}

.container.apva-cta h2 {
    color: var(--clr-orange);
    font-size: 26px !important;
    font-weight: 700
}

#apva-cta {
    background: #ededed
}

.container.apva-cta h3 {
    font-size: 34px !important;
    font-weight: 700
}

.graybg-border-radius-16
{
    background: var(--clr-gray);
    border-radius: 16px
}

#apva-identify-phone-num h2 {
    font-weight: 700;
    font-size: 26px;
    color: #505050
}


#apva-identify-phone-num p {
    font-size: 20px;
    color: #505050;
}

#phone-validator-table {
    font-size: 15px;
    background: linear-gradient(180deg, rgba(80,80,80,1) 0%, rgba(255,255,255,1) 100%);
}

    #phone-validator-table table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        padding: 6px;
     
    }

.apva-pvt-white-bg {
    color: #fff
}
.apva-pvt-nopad td {
    padding-bottom: 12px !important;
    padding-top: 0 !important;
    
}  

#phone-validator-table div {
    text-align: center;
}

#phone-validator-table .tableth-bground-white, .apva-pvt-white-bg {
    background: #fff
}

    #phone-validator-table thead tr th {
        background: #ececec;
        text-align: center;
        text-wrap: nowrap
    }

th.apva-pvt-border {
    border: solid 1px #fff
}

#phone-validator-table td, #phone-validator-table th {
    padding: .55rem;
    color: #505050
}

#phone-validator-table a {
    font-size: 14px;
    text-wrap: nowrap;
    background: var(--clr-orange);
    color: #fff;
    border: none;
    padding: 1px 6px;
    transition: 0.3s;
    border-radius: 6px;
}

#phone-validator-table a:hover {
        
    background: #505050;
    text-decoration: none;
    
}



#apva-cpra .apva-input-radio, #apva-cpra .apva-api-type h3, #apva-cpra #apva-records-per-month {
    font-size: 20px;
    color: #505050;
    font-weight: 700
}

#apva-cpra li {
    list-style: none
}

#apva-cpra input[type = "radio"]:checked + label {
    color: var(--clr-orange)
    
}

#apva-cpra .apva-input-radio {

    text-wrap: nowrap;
}

#apva-sst-header, #apva-at-header {
    font-size: 20px;
    font-weight: 700;
    color: #505050;
    text-align: left
}

#apva-at-header {
    margin-top: 30px
}

    #apva-cpra h2 {
        font-size: 42px;
        font-weight: 700;
        text-align: center;
        color: var(--clr-orange);
    }

#apva-cpra #eyc-header {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: #505050;
    margin-top: 40px
}

#apva-records-per-month input[type="text"] {
    width: 600px;
    max-width: 100%;
    border-radius: 16px;
    border: solid 2px #505050;
    padding: 10px 30px;
    margin: 0 30px;
}

#apva-cpra table {
    margin: 60px 0;
    
}

#apva-cpra th {
    background: var(--clr-orange);
    color: #fff;
    font-weight: 700;
    padding: 12px;
    text-align: center;
    border-radius: 16px 16px 0 0;
}

#apva-cpra td {
    background: #ededed;
    color: #6f6f6f;
    font-weight: 700;
    padding: 12px;
    border-radius: 0 0 16px 16px;
    font-size: 20px;
    text-align: center;
}


#phone-validator-table .table thead th {
    text-align: center;
}

.tableth-price-factor {
    background: #FFE9CA;
    color: var(--clr-orange)
}

#phone-validator-table .table td, .table th {
    padding: .65rem !important;
}

#phone-validator-table .table td div {
    text-align: center
    }

.price-factor-no-wrap {
    text-wrap: nowrap
}

.tableth-bground {
    background: #ededed
}



#phone-validator-table th {
    border-top: 1px solid #fff;
    border-bottom: 1px solid white;
}

#phone-validator-table td {
    border: 1px solid #fff;
}

#apva-faq {
    background: #FDF5E7
}


    #apva-faq h2 {
        font-size: 42px;
        font-weight: 700;
        color: #505050;
        border-bottom: 4px solid var(--clr-orange);
        padding-bottom: 18px;
        margin-bottom: 30px;
    }

#apva-faq li {
    margin-top: 12px;
    list-style-image: url(/images/arrow-icon.png);
}

#apva-carousel {
    background: #ededed;
}

    #apva-carousel .apva-carousel-card {
        background: white;
        border-radius: 16px;
        margin: 5px 13px;
        padding: 16px 16px;
    }

#apva-carousel .owl-dots {
    display: none;
}

    #apva-carousel h2 {
        color: #505050;
        font-size: 21px;
        font-weight: 700;
        text-wrap: nowrap
    }

    #apva-carousel a {
        
        font-size: 16px;
        font-weight: 700;
        border: none;
        background: none;
        color: var(--clr-orange)
    }

    #apva-carousel .col-md div {
        background: white;
        padding: 24px;
        border-radius: 16px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

.owl-carousel .owl-next, .owl-carousel .owl-prev {
    position: absolute;
    top: 50%;
    
}



    .owl-carousel .owl-next span, .owl-carousel .owl-prev span {
        font-size: 40px;
        color: var(--clr-orange);
    }



.owl-carousel .owl-next {
    right: 0;
}

.owl-carousel .owl-prev {
    left: 0;
}
    


#apva-dnc-list {
    background: #fdf5e7
}

#apva-dnc-list p {
    color: #373737;
    font-size: 20px;
}

#apva-dnc-list #apva-dnc-list-map {
    position: relative
}



.apva-dnc-check-icon-wa {
    position: absolute;
    top: 26px;
    left: 194px;
}

.apva-dnc-check-icon-wy {
    position: absolute;
    top: 177px;
    left: 366px;
}

.apva-dnc-check-icon-co {
    position: absolute;
    top: 229px;
    left: 455px;
}

.apva-dnc-check-icon-ok {
    position: absolute;
    top: 339px;
    left: 584px;
}

.apva-dnc-check-icon-tx {
    position: absolute;
    top: 427px;
    left: 596px;
}

.apva-dnc-check-icon-ms {
    position: absolute;
    top: 386px;
    left: 700px;
}


.apva-dnc-check-icon-tn {
    position: absolute;
    top: 289px;
    left: 769px;
}

.apva-dnc-check-icon-inmi {
    position: absolute;
    top: 111px;
    left: 944px
}

.apva-dnc-check-icon-pa {
    position: absolute;
    top: 162px;
    left: 829px;
}

.apva-dnc-check-icon-fl {
    position: absolute;
    top: 462px;
    left: 877px;
}

.apva-dnc-check-icon-ma {
    position: absolute
}


#apva-dnc-list h2 {
    color: #373737;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

#apva-dnc-list div {
    text-align: center;
    margin-bottom: 50px;
}

#apva-estimate-cost-verify-data h2 {
    color: #505050;
    font-size: 42px;
    font-weight: 700;
}

    #apva-estimate-cost-verify-data h2 span {
        color: var(--clr-orange);
    }

#apva-estimate-cost-verify-data h3 {
    color: #505050;
    font-size: 26px;
    
}
.apva-cta-btn-mobile {
    display: none;
}

.apva-cta-btn-desktop {
    display: block;
    margin: 0 auto
}

#apva-cpra label:hover {
 
    cursor: pointer
}




.load-more-container {
    background: #ededed;
    text-align: center
}


.load-more-container .load-more {
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    padding: 30px 0;
    color: #505050;
    transition: 0.3s
}

    .load-more-container .load-more:hover {
        color: var(--clr-orange);        
    }


#ipa-hero h2 {
    font-size: 42px;
    font-weight: 700;
    color: var(--clr-orange);
}

#ipa-hero span {
    color: var(--clr-orange);
}

#ipa-hero h3 {
    font-size: 73px;
    font-weight: 700;
    color: #505050;
}

#ipa-hero p {
    font-size: 20px;
    color: #505050;
}

#ipa-batch-append-tool h2 {
    font-size: 26px;
    font-weight: 700;
    color: #505050;
}

#ipa-batch-append-tool h3 {
    font-size: 42px;
    font-weight: 700;
    color: var(--clr-orange);
}

#ipa-batch-append-tool .col-md-9 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.container.ipa-cta > div {
    background: #fff;
    border-radius: 16px;
    border: 2px solid var(--clr-orange);
    padding: 20px 60px;
}

.container.ipa-cta h2 {
    color: var(--clr-orange);
    font-size: 26px !important;
    font-weight: 700
}

#ipa-cta {
    background: #ededed
}

.container.ipa-cta h3 {
    font-size: 34px !important;
    font-weight: 700
}


.ipa-cta-btn-mobile {
    display: none;
}

.ipa-cta-btn-desktop {
    display: block;
    margin: 0 auto
}

#ipa-faq {
    background: #FFF9F6;
}

    #ipa-faq a {
        color: var(--clr-orange);
        text-decoration: none;
        font-weight: 600
    }

        #ipa-faq a:hover {
            text-decoration: underline;
        }

    #ipa-faq h2 {
        font-size: 41px;
        font-weight: 700
    }

    #ipa-faq > .container > div {
        border: 2px solid var(--clr-orange);
        padding: 50px 60px;
        border-radius: 12px;
    }

    #ipa-faq li {
        font-size: 20px;
        color: var(--clr-text-color-2)
    }

    #ipa-faq .hr-line {
        background: var(--clr-orange);
        height: 4px
    }

    #ipa-faq ul li {
        list-style-image: url('/images/arrow-icon.png');
        margin: 12px 0
    }

    #ipa-get-info-need {
        background: #ededed
    }

#ipa-get-info-need span {
    color: var(--clr-orange);
}

#ipa-get-info-need h2 {
    color: #505050;
    font-size: 42px;
    font-weight: 700;
}

#ipa-get-info-need h3 {
    color: #505050;
    font-size: 26px;
}

#ipa-customers-partners h2 {
    font-size: 26px;
    font-weight: 700;
    color: #505050;
    text-align: center;
    margin-bottom: 70px;
}


#eva-hero h2 {
    font-size: 42px;
    font-weight: 700;
    color: var(--clr-orange);
}

#eva-hero span {
    color: var(--clr-orange);
}

#eva-hero h3 {
    font-size: 70px;
    font-weight: 700;
    color: #505050;
}

#eva-hero p {
    font-size: 20px;
    color: #505050;
}

#eva-identify-email span {
    color: var(--clr-orange);
}

#eva-identify-email h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    
}

#eva-identify-email h3 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

#eva-identify-email img {
    height: 120px;
}

.container.eva-cta > div {
    background: #fff;
    border-radius: 16px;
    border: 2px solid var(--clr-orange);
    padding: 20px 60px;
}

.container.eva-cta h2 {
    color: var(--clr-orange);
    font-size: 26px !important;
    font-weight: 700
}

#eva-cta {
    background: #ededed
}

.container.eva-cta h3 {
    font-size: 34px !important;
    font-weight: 700
}


.eva-cta-btn-mobile {
    display: none;
}

.eva-cta-btn-desktop {
    display: block;
    margin: 0 auto
}

#eva-faq {
    background: #FDF5E7
}

    #eva-faq h2 {
        font-size: 42px;
        font-weight: 700;
        color: #505050;
        border-bottom: 4px solid var(--clr-orange);
        padding-bottom: 18px;
        margin-bottom: 30px;
    }

    #eva-faq li {
        margin-top: 12px;
        list-style-image: url(/images/arrow-icon.png);
    }

#eva-estimate-cost-verify-data h2 {
    color: #505050;
    font-size: 42px;
    font-weight: 700;
}

    #eva-estimate-cost-verify-data h2 span {
        color: var(--clr-orange);
    }

#eva-estimate-cost-verify-data h3 {
    color: #505050;
    font-size: 26px;
}

#apva-cpra .container {
    position: relative;
}

#apva-cpra .apva-phone-verification-api {
    width: 220px;
    top: 55%;
    right: -193px !important;
    position: absolute !important;
}

#apva-cpra .apva-chevron-up-solid {
    width: 15px;
}

#phone-validator-table .container {
    position: relative;
}

.pvt-mail-icon {
    width: 90px;
    position: absolute;
    left: -82px;
    bottom: 30px;
}

.pvt-pin-icon {
    width: 90px;
    position: absolute;
    left: -65px;
    bottom: 0;
    top: 35%;
}

.pvt-clock-icon {
    width: 120px;
    position: absolute;
    right: -150px;
    bottom: 0;
    top: 20%;
}

.pvt-message-icon {
    width: 120px;
    position: absolute;
    right: -90px;
    bottom: 0;
    top: 75%;
}

#phone-validator-table h2 {
    display: none
}

#eva-email-verification-api h2 {
    font-size: 26px;
    font-weight: 700;
    color: #505050
}

#eva-email-verification-api p {
    font-size: 20px;
    color: #505050
}

#eva-zip-code-to-timezome-api h2 {
    font-size: 26px;
    font-weight: 700;
    color: #505050
}

#eva-zip-code-to-timezome-api p {
    font-size: 20px;
    color: #505050
}

#eva-zip-in-radius-api h2 {
    font-size: 26px;
    font-weight: 700;
    color: #505050
}

#eva-zip-in-radius-api p {
    font-size: 20px;
    color: #505050
}

#eva-hero .eva-hero-images {
    position: relative
}

#eva-hero .eva-validator-api-at img {
    width: 92px;
    position: absolute;
    left: 28%;
    top: 20%;
}
#eva-hero .eva-validator-api-clock img {
    width: 92px;
    position: absolute;
    bottom: 35px;
    right: 27%;
}

#eva-hero .eva-pin-icon img {
    width: 60px;
    position: absolute;
    right: 35%;
}

#eva-card-carousel {
    background: #ededed
}

#eva-card-carousel .card {
    border-radius: 30px;
}

    #eva-card-carousel a {
        font-size: 16px;
        color: var(--clr-orange);
        font-weight: 700
    }

#eva-card-carousel .card-title {
    font-size: 26px;
    font-weight: 700;
    color: #505050
}

#eva-card-carousel p {
    font-size: 20px;
    color: #505050;
    line-height: 1.4rem;
}

#eva-estimate-your-cost h3 {
    font-size: 26px;
    font-weight: 700;
    color: #505050;
    text-align: center
}

#eva-records-per-month input[type="text"] {
    width: 600px;
    max-width: 100%;
    border-radius: 16px;
    border: solid 2px #505050;
    padding: 10px 30px;
    margin: 0 30px;
}

#eva-estimate-your-cost #eva-records-per-month {
    font-size: 20px;
    color: #505050;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
}

#eva-estimate-your-cost th {
    background: var(--clr-orange);
    color: #fff;
    font-weight: 700;
    padding: 12px;
    text-align: center;
    border-radius: 16px 16px 0 0;
}

#eva-estimate-your-cost td {
    background: #ededed;
    color: #6f6f6f;
    font-weight: 700;
    padding: 12px;
    border-radius: 0 0 16px 16px;
    font-size: 20px;
    text-align: center;
}

#eva-estimate-your-cost input[type = "radio"]:checked + label {
    color: var(--clr-orange);
}

#eva-estimate-your-cost .eva-api-type {
    font-weight: 700;
    font-size: 21px;
    color: #505050
}

#eva-estimate-your-cost table {
    margin: 60px 0;
}

#eva-estimate-your-cost #eva-sst-header {
    font-size: 18px;
    font-weight: 700;
    color: #505050;
    text-align: left
}

#eva-estimate-your-cost .eva-api-type {
    display: flex;
    
    justify-content: space-evenly;
}

#apva-sst-header-mobile div {
    display: none
}

.psa-people-search-api-hero-mobile {
    display: none
}

#psa-estimate-cost .psa-expected-cost-table, #psa-estimate-cost .psa-avg-match-rate-table {
    display: none
}

#psa-records-per-month-mobile {
    display: none
}

.header .container {
    min-height: 0 !important;
}

.header-divider, #headerTitle, #headerSubTitle {
    display: none
}

@media (max-width: 576px) {

    ##psa-estimate-cost .psa-amreh-table {
        font-size: 16px !important
    }

    #psa-people-search-api-list .p-5 {
        padding: 30px !important
    }

    #psa-faq > .container > div {
       padding: 30px;
    }

    #psa-estimate-cost input[type="text"] {
        border-radius: 16px
    }

    #psa-estimate-cost .psa-estimate-cost-input {
        width: 100%;
        max-width: 100%;
        margin: 0 !important
    }

    .psa-xml-json-mobile a {
        font-size: 16px !important
    }

    #psa-estimate-cost .psa-xml-json-mobile {
        font-size: 16px;
        margin: 0 3px;
        font-weight: 400;
    }

    #psa-estimate-cost label {
        padding: 3px;
        font-weight: 500;
    }

    #psa-estimate-cost input[type = "radio"]:checked + label {
        background: transparent;
        font-weight: 700
    }
    #psa-estimate-cost .cost-estimate-form {
        margin-top: 18px
    }


    #psa-records-per-month-mobile h3, #psa-records-per-month-mobile a {
        font-size: 16px;
    }

    #psa-records-per-month-mobile > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #psa-records-per-month-mobile {
        display: block;
        font-size: 16px;
        margin: 20px 0px 12px 0;
    }

    #psa-estimate-cost p {
        display: none
    }

    #psa-estimate-cost .psa-expected-cost-table, #psa-estimate-cost .psa-avg-match-rate-table {
        display: block
    }

        #psa-estimate-cost .psa-aeaa {
            display: none
        }

        #psa-estimate-cost .psa-expected-cost-table td, #psa-estimate-cost .psa-avg-match-rate-table td,
        #psa-estimate-cost .psa-expected-cost-table th, #psa-estimate-cost .psa-avg-match-rate-table th {
            font-size: 16px;
            text-wrap: nowrap
        }

    #psa-estimate-cost .psa-expected-cost-table th, #psa-estimate-cost .psa-avg-match-rate-table th {
        background: var(--clr-orange);
        color: #fff;
        padding: 16px;
        border: 5px solid #fff;
        border-radius: 12px
    }

    #psa-estimate-cost .psa-expected-cost-table {
        margin-top: 12px
    }

    #psa-estimate-cost .psa-expected-cost-table td, #psa-estimate-cost .psa-avg-match-rate-table td {
        background: #fff;
        color: #000;
        padding: 16px;
        border: 5px solid #fff;
        border-radius: 12px;
    }
    

    #psa-estimate-cost h2 {
        font-size: 26px;
    }

    .psa-people-search-api-hero{
        display: none
    }

    .psa-people-search-api-hero-mobile {
        display: block;
        width: 150px;
        float: right;
    }

    #psa-carousel .owl-item.cloned, #psa-carousel .owl-item.active {
        height: auto
    }

    #psa-carousel p {
        font-size: 16px;
    }


    #apva-sst-header-mobile div {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

        #apva-sst-header-mobile h3 {
            font-size: 16px;
            color: #505050;
            font-weight: 700
        }


    #eva-estimate-your-cost .eva-estimate-your-cost {
        background: #fff;
        border-radius: 16px;
        border: 2px solid var(--clr-orange);
        padding: 20px 60px;
    }

    #eva-estimate-your-cost .eva-api-type {
        font-size: 20px;
        font-weight: 400
    }

    #eva-estimate-your-cost input[type = "radio"]:checked + label {
        color: #505050;
    }

    #eva-records-per-month input[type="text"] {
        background: #ededed;
        border: none;
    }

        #eva-records-per-month input[type="text"]::placeholder {
            font-size: 18px;
            text-align: center;
            color: #aaa
        }

    #eva-estimate-your-cost h3 {
        color: var(--clr-orange);
    }

    #eva-estimate-api-documentation p {
        font-size: 16px
    }

    #eva-hero h2 {
        font-size: 26px;
        text-align: left
    }

    #eva-hero h3 {
        font-size: 33px;
        text-align: left
    }

    #eva-hero p {
        font-size: 16px;
        text-align: left
    }

    #eva-card-carousel .card-title {
        font-size: 25px;
    }

    #eva-card-carousel p {
        font-size: 18px;
    }

    #eva-card-carousel a {
        font-size: 15px;
    }

    #apva-estimate-cost-verify-data h2 {
        font-size: 26px;
    }

    #apva-estimate-cost-verify-data h3 {
        font-size: 20px;
    }

    #apva-estimate-cost-verify-data img {
        width: 132px;
    }

    #apva-cta {
        background: #fff;
    }


    .pvt-clock-icon {
        width: 90px;
        right: 12px;
        bottom: 0;
        top: -39px;
    }

    .pvt-pin-icon {
        width: 55px;
        left: -18px;
        top: 10%;
    }

    #phone-validator-table h2 {
        display: block;
        font-size: 26px;
        font-weight: 700;
        color: #fff;
        text-align: left;
        margin-bottom: 21px;
    }

    #eva-faq h2 {
        font-size: 26px;
        border-bottom: 3px solid var(--clr-orange);
    }

    #eva-faq li {
        font-size: 16px;
    }


    .eva-cta-btn-desktop {
        display: none;
    }

    .eva-cta-btn-mobile {
        display: block;
    }

    #eva-cta h2 {
        font-size: 20px !important;
        text-align: left !important
    }

    #eva-cta h3 {
        font-size: 26px !important;
        text-align: left !important;
        text-transform: capitalize
    }



    #apva-carousel h2 {
                font-size: 20px;
            }

            #apva-carousel a {
                font-size: 12px;
            }

            #apva-cpra ul {
                margin-bottom: 0
            }

            #apva-cpra th {
                border-radius: 12px;
                text-wrap: nowrap;
            }

            #apva-cpra td {
                border-radius: 12px;
                background: #fff;
                border: 2px solid var(--clr-orange);
                display: block;
                margin-top: 18px;
            }



            #apva-cpra label:hover {
                background: #D4D3D2;
            }

            #apva-faq h2 {
                font-size: 26px;
                border-bottom: 3px solid var(--clr-orange);
            }

            #apva-faq li {
                font-size: 16px;
            }



            .btn-orange {
                padding: 6px 30px;
                border-radius: 9px;
            }

            .btn-gray {
                padding: 6px 30px;
                border-radius: 9px;
            }

            #apva-identify-phone-num h2 {
                font-size: 20px;
            }

            #apva-identify-phone-num p {
                font-size: 16px;
                margin-top: 30px;
            }

            #apva-identify-phone-num .p-5 {
                padding: 2rem 1rem !important
            }

            #apva-dnc-list h2 {
                font-size: 20px;
                text-align: left;
            }

            #apva-dnc-list p {
                font-size: 16px;
                text-align: left
            }

            #apva-records-per-month input[type="text"] {
                margin: 0;
            }

            .apva-cta-btn-desktop {
                display: none;
            }

            .apva-cta-btn-mobile {
                display: block;
            }

    

    .ipa-cta-btn-desktop {
        display: none;
    }

    .ipa-cta-btn-mobile {
        display: block;
    }

            #people-search-api-hero h1 {
                font-size: 26px;
                text-align: left
            }

            #people-search-api-hero h2 {
                font-size: 36px;
                text-align: left
            }

            #people-search-api-hero p {
                font-size: 18px;
                text-align: left
            }

            #psa-aps-bat h3 {
                font-size: 30px;
            }

            button.btn-orange, button.btn-gray {
                font-size: 16px;
            }

            .col-md.psa-bat {
                margin-top: 50px;
            }

            .heading-dark {
                font-size: 30px;
            }

            #psa-faq h2 {
                font-size: 25px;
            }

    #ipa-faq h2 {
        font-size: 25px;
    }

    #ipa-faq li {
        font-size: 16px;
    }


    #psa-property-records p, #psa-find-email-address p, #psa-find-name-address p, #psa-find-phone-number p, #psa-faq li {
        font-size: 16px;
    }

            #psa-property-records img,
            #psa-find-email-address img,
            #psa-find-name-address img,
            #psa-find-phone-number img {
                top: 0%;
                width: 110px;
                left: 86% !important
            }

            .psa-cta {
                display: none
            }

            #apva-cpra .row.apva-api-type {
                background: #F4F5F5;
                border-radius: 12px
            }


            #apva-cpra label {
                font-weight: 400;
                color: #505050;
                display: block;
                padding: 3px 0px 3px 18px;
            }

            #apva-cpra input[type=radio] {
                display: none
            }

            #apva-cpra .apva-input-radio, #apva-cpra ul {
                padding: 0px
            }

            #apva-cpra input[type = "radio"]:checked + label {
                background: #D4D3D2;
                font-weight: 700;
                color: #505050;
                border-radius: 9px
            }

            #apva-hero h1 {
                font-size: 26px;
                text-align: left
            }

            #apva-hero h2 {
                font-size: 36px;
                text-align: left
            }

            #apva-hero p {
                font-size: 16px;
                text-align: left
            }

            #apva-cpra #eyc-header {
                font-size: 26px;
                color: var(--clr-orange);
                text-align: left
            }

            #apva-cpra h2 {
                display: none
            }

            #apva-cta h2 {
                font-size: 20px !important;
                text-align: left !important
            }

            #apva-cta h3 {
                font-size: 26px !important;
                text-align: left !important;
                text-transform: capitalize
            }
        }

        @media (max-width: 991px) {

            #eva-estimate-your-cost .eva-api-type {
                flex-direction: column;
            }

            #eva-estimate-your-cost #eva-records-per-month {
                flex-direction: column;
                margin-top: 30px;
            }

            #eva-estimate-your-cost #eva-records-per-month button {
                margin-top: 30px;
            }


                .cost-estimate-form {
                    padding-bottom: 0px !important;
                }

            #ao-use-batch-append-tool .container {
                flex-direction: column;
            }



            #apva-carousel .col-md {
                margin-top: 30px;
            }
        }
